* {
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    color: #333;
}

.featured-tours {
    width: 70%;
    margin: 70px auto;
    text-align: center;
}

.featured-tours header {
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
}

p.description {
    color: #bebebe;
}

.tours {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

article {
    margin: 0 10px;
}

article > img {
    width: 100%;
    margin-bottom: 20px;
}

i {
    color: #FD6D6B;
}

h3.destination {
    margin: 10px 0 3px 0;
}

p.country {
    font-size: .7em;
    color: #828587;
    margin: 0;
}

p.price {
    font-weight: 900;
}

